body{
    margin-top: 60px;
}
body>footer{
    font-size: 70%;
    color: #999;
}
th{
    text-align: left;
}

/* Overrides */
h1{
    margin-bottom: 10px;
}
.alert{
    margin-bottom: 10px;
}
.control-group .alert{
    margin: 10px 0 0 0;
    width: 409px;
}
.pagination a{
    font-weight: 400;
}
.well .control-label{
    width: 120px;
}
.well .controls{
    margin-left: 140px;
}

/* sf overrides */
.sf_admin_boolean{
    text-align: center !important;
}